<%= @greeting %> <%= @user.name %>, <br>

To reset your password, click the URL below: <br>

<a href="http://localhost:3001/resetpassword/<%= (@user.password_reset_token) %>"> Password Reset </a>

If you did not request your password to be reset, just ignore this e-mail and your password will stay the same.